# Mac
.DS_Store

# JetBrains / PyCharm
.idea/

# Python
__pycache__/
*.pyc

# Environment
.venv/
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# Environment (Node)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# Cache
.cache/
.next/
.nuxt/
.vite/

Backend/node_modules/